<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lopy.dao.UserCardDAO">

    <sql id="userCardQueryWhere">
        <if test="query.brand != null and query.brand != ''">
            and uc.brand = #{query.brand}
        </if>
        <if test="query.userId != null">
            and uc.user_id = #{query.userId}
        </if>
    </sql>

    <select id="selectByQuery" resultType="com.lopy.entity.UserCard">
        select *
        from c_user_card uc
        <where>
            <include refid="userCardQueryWhere"></include>
        </where>
        order by uc.primary_flag desc, uc.create_date desc
    </select>

    <insert id="save">
        insert into c_user_card (stripe_id,
                                 brand,
                                 user_id,
                                 funding,
                                 last_four,
                                 exp_month,
                                 exp_year,
                                 country,
                                 cvc_check,
                                 fingerprint,
                                 create_date)
        values (#{form.stripeId},
                #{form.brand},
                1,
                #{form.funding},
                #{form.lastFour},
                #{form.expMonth},
                #{form.expYear},
                #{form.country},
                #{form.cvcCheck},
                #{form.fingerprint},
                Now())
    </insert>
</mapper>